Genshi
Jinja2
pysqlite
psycopg2
Babel
docutils
Pygments
pytz
requests
openpyxl
CherryPy
glue
Pillow
blockdiag
seqdiag
actdiag
nwdiag
blockdiagcontrib-cisco
git+https://github.com/pygobject/pycairo.git@v1.13.3
cairosvg==1.0.22
sqlalchemy-migrate
Trac==1.2.2
git+https://github.com/t-kenji/trac-account-manager-plugin.git@0.5-dev
git+https://github.com/t-kenji/trac-advanced-ticket-workflow-plugin.git
git+https://github.com/t-kenji/trac-archive-viewer-plugin.git
git+https://github.com/t-kenji/trac-autocomplete-provider-plugin.git
git+https://github.com/t-kenji/trac-avatar-plugin.git
git+https://github.com/t-kenji/trac-blockdiag-macro.git@dev
git+https://github.com/t-kenji/trac-drag-drop-plugin.git
git+https://github.com/t-kenji/trac-emoji-plugin.git@feature-css-sprite
git+https://github.com/t-kenji/trac-excel-download-plugin.git
git+https://github.com/t-kenji/trac-fullblog-plugin.git
git+https://github.com/t-kenji/trac-gantt-calendar-plugin.git@hotfix-trac-12-support
git+https://github.com/t-kenji/trac-hours-plugin.git@feature/add-hours-in-ticket-view
git+https://github.com/t-kenji/trac-image-preview-plugin.git
git+https://github.com/t-kenji/trac-include-macro.git
git+https://github.com/t-kenji/trac-janus-plugin.git
git+https://github.com/t-kenji/trac-keyword-labels-plugin.git
git+https://github.com/t-kenji/trac-letschat-plugin.git
git+https://github.com/t-kenji/trac-mension-plugin.git
git+https://github.com/t-kenji/trac-mermaid-macro.git
git+https://github.com/t-kenji/trac-mikeneko-theme.git
git+https://github.com/t-kenji/trac-multi-select-field-plugin.git
git+https://github.com/t-kenji/trac-perm-redirect-plugin.git
git+https://github.com/t-kenji/trac-pdf-preview-plugin.git
git+https://github.com/t-kenji/trac-sectionedit-plugin.git
git+https://github.com/t-kenji/trac-tags-plugin.git
git+https://github.com/t-kenji/trac-theme-engine-plugin.git
git+https://github.com/t-kenji/trac-ticket-relations-plugin.git
git+https://github.com/t-kenji/trac-ticket-template-plugin.git
git+https://github.com/t-kenji/trac-xml-rpc-plugin.git
